# Swift Package Manager
.build/
.swiftpm/

# Xcode / Derived data
DerivedData/
xcuserdata/
*.xcworkspace/
*.xcodeproj/

# OS / Editors
.DS_Store
.idea/
.vscode/
*.swp

# Archives / Symbols
*.dSYM
*.dSYM.zip

